vendor/
priv/
tmp/
logs/
uploads/
public_html/
!public_html/wp-config.php
.idea/
.dockerdata/
!.dockerdata/.gitkeep
!.dockerdata/nginx/wp.conf
!.dockerdata/php/pool.conf

.env*
.tests_running
wp-config.local.php
behat.yml
behat.yaml
*.log
studio.json

!.env.example
!.env.docker
!.env.testing.example
!.gitkeep

.wakatime-project
.htaccess